extends ../layout/layout.default.pug

block seo
  | <!-- Primary Meta Tags -->
  <title>Jacopo Marrone - Web Developer, Italy</title>
  <meta name="title" content="Jacopo Marrone - Web Developer, Italy">
  <meta name="description" content="Give your business a boost with a custom website or by reaching new customers on Google Search. Let's talk about your project!">

  | <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://jacopomarrone.netlify.app/">
  <meta property="og:title" content="Jacopo Marrone - Web Developer, Italy">
  <meta property="og:description" content="Give your business a boost with a custom website or by reaching new customers on Google Search. Let's talk about your project!">
  <meta property="og:image" content="https://jacopomarrone.netlify.app/images/seo/seo-jacopo-marrone.png">
  <meta property="og:image:width" content="1048" />
  <meta property="og:image:height" content="526" />

  | <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://jacopomarrone.netlify.app/">
  <meta property="twitter:title" content="Jacopo Marrone - Web Developer, Italy">
  <meta property="twitter:description" content="Give your business a boost with a custom website or by reaching new customers on Google Search. Let's talk about your project!">
  <meta property="twitter:image" content="https://jacopomarrone.netlify.app/images/seo/seo-jacopo-marrone.png">


block variables
  - var bodyClassName = 'home'

  - 
    const works = [
      {
        slug: 'pipocas',
        name: 'Pipocas',
        image: "/images/works/pipocas_02.jpg",
        caption: 'Local SEO and landing page',
        description: '<p>Pipocas is an established vintage clothing shop in Reggio Emilia.</p><p>Pipocas needed a local SEO strategy, to find new customers and increase brand reputation.<br ><br >Then, i build a Facebook page, a Google My Business profile and a Website to links every point of contact and help users build a strong relationship with the brand.</p>',
        permalink: 'https://www.pipocas.it/'
      },
      {
        slug: 'galleria',
        name: 'Galleria',
        image: "/images/works/galleria.jpg",
        caption: 'Photographer personal showreel',
        description: '<p>Design gives value for what matter for a photographer, his/her photos.</p><p>Website act only as a background layer that doesn’t fight for user attention.</p><p>After user browsed the photographer works can easily contact the photographer via a form.</p><p class="secondary-text">This website is for demo purpose only.</p>',
        permalink: 'https://funny-sunshine-fb735e.netlify.app/'
      },
      {
        slug: 'color-compare',
        name: 'Color Compare',
        image: "/images/works/color-compare.jpg",
        caption: 'Tool for comparing colors',
        description: '<p>A tool for who works everyday with design and color codes ( RGB, HEX, HSL )</p><p>Useful when you is need to lay down two or more colors next to each other to easily find the “sweet” combination spot. </p><p> Nothing less nothing more.</p>',
        permalink: 'https://color-compare.netlify.app/'
      },
      {
        slug: 'fli',
        name: 'Fli',
        image: "/images/works/fli.jpg",
        caption: 'Artist artwork presentation',
        description: '<p>Cinematic sequence landing page used to create hype on product launch. </p><p>Fli wanted to give strength to his artwork presentation at an important artistic international event providing a countdown to the day of the event.</p>',
        permalink: 'https://sad-einstein-7248c0.netlify.app/'
      },
      {
        slug: 'smile',
        name: 'Smile',
        image: "/images/works/smile.jpg",
        caption: 'Storytelling sequence',
        description: '<p>"Smiling on a daily basis help humans stay healty".</p><p>This webpage aims to push the viewer to look for situations in everyday life that bring a smile to his or her face.</p>',
        permalink: 'https://amazing-yonath-074bda.netlify.app/'
      },
    ];

block content

  //- include ../partials/_demo_typography.pug

  .home-grid__wrapper
    .home-grid.home-grid--shrinked
      .home-grid__box.home-grid__box--no-bg.home-grid__box-different.home-grid-animate.animate-from-left
        span Jacopo Marrone
      button.home-grid__box.home-grid-animate(data-js="works-toggler" data-gtm-el="home-box" data-gtm-el-key="works")
        span Works
      button.home-grid__box.home-grid-animate(data-js="contact-toggler" data-gtm-el="home-box" data-gtm-el-key="contact-me")
        span Contact Me
    .home-grid.home-grid--expanded

  .floating-panel.works
    .floating-panel__inner
      .floating-panel__header
        button.floating-panel__close-panel(type="button" data-js="works-toggler" data-icon="arrow-left" )
          span Close
        .works__headline
          span Works
      .floating-panel__content
        .works__list
          each work in works
            .works__list-item.work
              .work__header
                h2.work__title= work.name
                span.work__caption= work.caption
              img.work__image(src= work.image)
              .work__content
                .work__description(data-gtm-el=`works-description` data-gtm-el-key=work.slug)
                  | !{work.description}
                .work__actions
                  a.button(href= work.permalink target="_blank" data-gtm-el=`works-permalink` data-gtm-el-key=work.slug)
                    span View Live
            .works__list-item-separator.works__list-item-separator--full-width(data-shape-divider="arrow-down")
          .works__list-footer
            button.works__close-panel-footer(data-js="works-toggler")
              span Close

  .floating-panel.contact
    .floating-panel__inner
      .floating-panel__header
        button.floating-panel__close-panel(type="button" data-js="contact-toggler" data-icon="arrow-left")
          span Close
        .contact__headline
          span Contact Me
      .floating-panel__content
        form.form.contact-form#contact-form
          .form__heading
            span Contact Me
          .form__section
            //- .form__section-heading
              span Information about you
            .form-field
              label.form-field__label(for="contact__name") Name
              input.form-field__input(type="text" id="contact__name" name="contact__name" placeholder="Your name")
              span.form-field__helper-text
            .form-field
              label.form-field__label(for="contact__email") Email
              input.form-field__input(type="text" id="contact__email" name="contact__email" placeholder="Your email")
              span.form-field__helper-text
            .form-field
              label.form-field__label(for="contact__message") Message
              textarea.form-field__input(id="contact__message" name="contact__message" placeholder="Tell me about your project in just a few words ..." rows="6")
              span.form-field__helper-text
          .form__section.form__section--actions
            button.button(type="submit")
              span Send
            button.button.button--naked(type="reset")
              span Reset