extends ../layout/layout.default.pug

block variables
  - var title = 'Jacopo Marrone'
  - var prefix = FILE_PREFIX
  //- var extraCSS = [FILE_PREFIX+'css/carousel.css']
  - var imgPrefixUrl = IMG_PREFIX_URL
  - var bodyClassName = 'home'

  - 
    const works = [
      {
        slug: 'galleria',
        name: 'Galleria',
        image: "/images/works/galleria.jpg",
        caption: 'Photographer personal showreel',
        description: '<p>Design gives value for what matter for a photographer, his/her photos.</p><p>Website act only as a background layer that doesn’t fight for user attention.</p><p>After user browsed the photographer works can easily contact the photographer via a form.</p>',
        permalink: 'https://funny-sunshine-fb735e.netlify.app/'
      },
      {
        slug: 'color-compare',
        name: 'Color Compare',
        image: "/images/works/color-compare.jpg",
        caption: 'Tool for comparing colors',
        description: '<p>A tool for who works everyday with design and color codes ( RGB, HEX, HSL )</p><p>Useful when you is need to lay down two or more colors next to each other to easily find the “sweet” combination spot. </p><p> Nothing less nothing more.</p>',
        permalink: 'https://color-compare.netlify.app/'
      },
      {
        slug: 'fli',
        name: 'Fli',
        image: "/images/works/fli.jpg",
        caption: 'Artist artwork presentation',
        description: '<p>Cinematic sequence landing page used to create hype on product launch. </p><p>Fli wanted to give strength to his artwork presentation at an important artistic international event providing a countdown to the day of the event.</p>',
        permalink: 'http://fli-art.com'
      },
      {
        slug: 'smile',
        name: 'Smile',
        image: "/images/works/smile.jpg",
        caption: 'Storytelling sequence',
        description: '<p>"Smiling on a daily basis help humans stay healty".</p><p>This webpage aims to push the viewer to look for situations in everyday life that bring a smile to his or her face.</p>',
        permalink: 'https://amazing-yonath-074bda.netlify.app/'
      },
    ];

block content

  //- include ../partials/_demo_typography.pug

  .home-grid
    .home-grid__box.home-grid__box--no-bg.home-grid__box-different.home-grid-animate.animate-from-left
      span Jacopo Marrone
    button.home-grid__box.home-grid-animate(data-js="works-toggler" data-gtm-el="home-box" data-gtm-el-key="works")
      span Works
    button.home-grid__box.home-grid-animate(data-js="contact-toggler" data-gtm-el="home-box" data-gtm-el-key="contact-me")
      span Contact Me

  .floating-panel.works
    .floating-panel__inner
      .floating-panel__header
        button.floating-panel__close-panel(type="button" data-js="works-toggler" data-icon="arrow-left" )
          span Close
        .works__headline
          span Works
      .floating-panel__content
        .works__list
          each work in works
            .works__list-item.work
              .work__header
                h2.work__title= work.name
                span.work__caption= work.caption
              img.work__image(src= work.image)
              .work__content
                .work__description(data-gtm-el=`works-description` data-gtm-el-key=work.slug)
                  | !{work.description}
                .work__actions
                  a.button(href= work.permalink target="_blank" data-gtm-el=`works-permalink` data-gtm-el-key=work.slug)
                    span View Live
            .works__list-item-separator.works__list-item-separator--full-width(data-shape-divider="arrow-down")
          .works__list-footer
            button.works__close-panel-footer(data-js="works-toggler")
              span Close

  .floating-panel.contact
    .floating-panel__inner
      .floating-panel__header
        button.floating-panel__close-panel(type="button" data-js="contact-toggler" data-icon="arrow-left")
          span Close
        .contact__headline
          span Contact Me
      .floating-panel__content
        form.form.contact-form#contact-form
          .form__heading
            span Contact Me
          .form__section
            //- .form__section-heading
              span Information about you
            .form-field
              label.form-field__label(for="contact__name") Name
              input.form-field__input(type="text" id="contact__name" name="contact__name" placeholder="Your name")
              span.form-field__helper-text
            .form-field
              label.form-field__label(for="contact__email") Email
              input.form-field__input(type="text" id="contact__email" name="contact__email" placeholder="Your email")
              span.form-field__helper-text
            .form-field
              label.form-field__label(for="contact__message") Message
              textarea.form-field__input(id="contact__message" name="contact__message" placeholder="Tell me about your project in just a few words ..." rows="6")
              span.form-field__helper-text
          .form__section.form__section--actions
            button.button(type="submit")
              span Send
            button.button.button--naked(type="reset")
              span Reset